.body {
  padding: 1.5rem;
}

/* Menu */
.menu {
  border-bottom: 1px solid var(--black-700);
}

.menuLink {
  font-size: 13px;
  padding: .45rem .75rem;
  color: var(--gray-700);
  margin-bottom: -.8rem;
  transition: all .3s;
}

.menuLinkActive,
.menuLink:hover {
  color: var(--gray-400);
}

.menuLinkActive::after {
  content: "";
  width: 100%;
  height: 4px;
  display: inline-block;
  color: var(--gray-200);
  background: var(--gray-200);
  border-radius: 4px 4px 0 0;
}

/* Stats */
.stats {
  font-size: 13px;
  color: var(--gray-800);
}

.stats::before {
  content: "";
  width: 16px;
  height: 3px;
  background: var(--gray-800);
  border-radius: 2px;
  display: inline-block;
  margin-bottom: .2rem;
  margin-right: .45rem;
}

.statsGreen::before {
  background: #4ddbad;
}
.statsYellow::before {
  background: #f8ca77;
}
.statsRed::before {
  background: #f99597;
}
.statsBlue::before {
  background: #7aa8fa;
}
.statsPink::before {
  background: #df95fa;
}