.container {
  width: 100%;
  max-width: 380px;
  padding: 2rem;
  background: #222;
  border-radius: 24px;
  font-weight: 200;

  /* bg */
  background: hsla(155, 67%, 15%, 1);
  background: linear-gradient(-45deg, hsla(155, 67%, 15%, 1) 0%, rgb(21, 21, 22) 36%);
  background: -moz-linear-gradient(-45deg, hsla(155, 67%, 15%, 1) 0%, rgb(19, 18, 18) 36%);
  background: -webkit-linear-gradient(-45deg, hsla(155, 67%, 15%, 1) 0%, hsla(19, 18, 18) 36%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0D422C", endColorstr="#222222", GradientType=1 );
}

.percent {
  font-size: 4.5rem;
}

.icon {
  margin-top: 1.35rem;
  color: var(--primary-400);
}