@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-800: #262626;
  --black-700: #434343;

  --gray-800: #606060;
  --gray-700: #818181;
  --gray-600: #979797;
  --gray-400: #dedede;
  --gray-200: #f5f5f5;

  --primary-400: #8b83ec;

  --success: #4dc08d;
  --warning: #e3bb6e;

  --dark: #1c1c1e;
  --bg: #0b0b0c;
}

body {
  color: var(--gray-200);
  background: var(--bg);
}


.grid2 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(520px, 1fr));
}

.grid3 {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}